
@{
    ViewData["Title"] = "Products";
}
<div class="row">
    <div class="col-3" id="sidebar">
        
    </div>
    <div id="load" class="col-9">
        
    </div>
</div>

    <script>
            fetch(`/Home/Cards`)
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    document.getElementById('load').innerHTML = result;
                });
            fetch(`/Home/Categories`)
                            .then((response) => {
                                return response.text();
                            })
                            .then((result) => {
                                document.getElementById('sidebar').innerHTML = result;
                            });
    </script>
