@model IEnumerable<BLL.DTO.UserDTO>

<div class="row m-2 p-1">
    @if (Model != null)
    {
        @foreach (var user in Model)
        {
            <div class="card">
                <div class="card-body">
                    <a asp-controller="Message" asp-action="Details" asp-route-id="@(user?.Id)">
                        <h4 style="display: inline;">@(user?.Name)</h4>
                    </a>
                </div>
            </div>
        }
    }
    else
    {
    <h1>Here is nothig. Try to buy anything))</h1>
    }
</div>