@model IEnumerable<BLL.DTO.OrderDTO>

@{
    ViewBag.Title = "Order history";
    Layout = "_Layout";
}

<table>
    <thead>
    <tr>
        <th>
            
        </th>
        <th>
            
        </th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
